header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem
}

h1 a {
    color: red;
    text-decoration-line: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9vh;
}
.grid-container{
     display: flex;
     flex-direction: row;
}
.nav-left {
    justify-self: flex-start;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1vw;
 }
.nav-right {
justify-self: flex-end;
 padding:5vh 3vw;
} 
.post-entry {
    text-align: center;
}
.post-entry h2 {
    
}
.post-entry h2 a, .post-entry h2 a:visited {
    color: blue;
    text-decoration: none; 
}
.post-entry p {
    margin: 0;
    font-weight: 400;
}
.post-entry h2 a:hover {
    color: red; 
}